/*-----------------------------------------------------------------------------------

    Template Name: AppLand
    Template URI: uideck.com/templates/appland
    Support: https://uideck.com/support/
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    01. Theme default CSS
	02. Header
    03. Hero
	04. Footer

-----------------------------------------------------------------------------------*/

.team-list img {
  width: 50%;
}

.team-list .content {
  width: 50%;
}

.team-list .content .follow {
  position: absolute;
  bottom: 24px;
}

.team-list:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.team, .team-list {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title, .team-list .content .title {
  font-size: 18px;
}

.team .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.team .member-position, .team .team-social {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: auto 10%;
  z-index: 99;
}

.team .team-social {
  bottom: 40px;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.team:hover .overlay {
  opacity: 0.6;
}

.team:hover .team-social {
  opacity: 1;
}

@media (max-width: 768px) {
  .team-list img,
  .team-list .content {
    width: 100%;
    float: none !important;
  }
  .team-list img .follow,
  .team-list .content .follow {
    position: relative;
    bottom: 0;
  }
}

.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd;
}
.social-icon li a {
    color: #35404e;
    border: 1px solid #35404e;
    display: inline-block;
    height: 32px;
    text-align: center;
    font-size: 15px;
    width: 32px;
    line-height: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}
.rounded {
    border-radius: 5px !important;
}

.para-desc {
    max-width: 600px;
}
.text-muted {
    color: #8492a6 !important;
}

.section-title .title {
    letter-spacing: 0.5px;
    font-size: 30px;
}

/*===========================
      01.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #747E88;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #38424D;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #747E88;
  margin: 0px; }

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #0898E7;
  padding: 0 25px;
  font-size: 16px;
  height: 55px;
  line-height: 51px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #0898E7; }
  .main-btn:hover {
    background-color: rgba(8, 152, 231, 0.7);
    color: #fff;
    border-color: transparent; }
  .main-btn.main-btn-2 {
    background-color: transparent;
    color: #525A63;
    border-color: #525A63; }
    .main-btn.main-btn-2:hover {
      background-color: rgba(82, 90, 99, 0.5);
      color: #525A63; }

@keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/*===== All Section Title Style =====*/
.section-title .title {
  font-size: 35px;
  font-weight: 600; }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 22px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-title .title {
      font-size: 26px; } }

.section-title .text {
  margin-top: 20px; }

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0; }

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999; }
  .preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .preloader .loader .ytp-spinner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 64px;
      margin-left: -32px;
      z-index: 18;
      pointer-events: none; }
      .preloader .loader .ytp-spinner .ytp-spinner-container {
        pointer-events: none;
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
        top: 50%;
        left: 50%;
        margin-top: -50%;
        margin-left: -50%;
        -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
        animation: ytp-spinner-linspin 1568.23529647ms linear infinite; }
        .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
          animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
          .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            overflow: hidden;
            right: 50%; }
          .preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            left: 50%; }
    .preloader .loader .ytp-spinner-circle {
      box-sizing: border-box;
      position: absolute;
      width: 200%;
      height: 100%;
      border-style: solid;
      /* Spinner Color */
      border-color: #0898E7 #0898E7 #eceff8;
      border-radius: 50%;
      border-width: 6px; }
    .preloader .loader .ytp-spinner-left .ytp-spinner-circle {
      left: 0;
      right: -100%;
      border-right-color: #eceff8;
      -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }
    .preloader .loader .ytp-spinner-right .ytp-spinner-circle {
      left: -100%;
      right: 0;
      border-left-color: #eceff8;
      -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
      animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

/*===========================
      02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.sticky {
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .sticky .navbar {
    padding: 10px 0; }

.navbar {
  padding: 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 35px 0; }

.navbar-brand {
  padding: 0; }
  .navbar-brand img {
    max-width: 150px; }

.navbar-toggler {
  padding: 0; }
  .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #222;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .navbar-toggler.active .toggler-icon:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px; }
  .navbar-toggler.active .toggler-icon:nth-of-type(2) {
    opacity: 0; }
  .navbar-toggler.active .toggler-icon:nth-of-type(3) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: -7px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px; } }

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(56, 66, 77, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(56, 66, 77, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(56, 66, 77, 0.1);
    padding: 5px 12px; } }

.navbar-nav .nav-item {
  margin-left: 45px;
  position: relative; }
  .navbar-nav .nav-item:first-child {
    margin-left: 0; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav .nav-item {
      margin-left: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .nav-item {
      margin: 0; } }
  @media (max-width: 767px) {
    .navbar-nav .nav-item {
      margin: 0; } }
  .navbar-nav .nav-item a {
    font-size: 16px;
    font-weight: 600;
    color: #38424D;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item a {
        display: block;
        padding: 4px 0; } }
  .navbar-nav .nav-item.active > a, .navbar-nav .nav-item:hover > a {
    color: #0898E7; }
  .navbar-nav .nav-item:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item:hover .sub-menu {
        top: 0; } }
  .navbar-nav .nav-item .sub-menu {
    width: 200px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    @media (max-width: 767px) {
      .navbar-nav .nav-item .sub-menu {
        position: relative;
        width: 100%;
        top: 0;
        display: none;
        opacity: 1;
        visibility: visible; } }
    .navbar-nav .nav-item .sub-menu li {
      display: block; }
      .navbar-nav .nav-item .sub-menu li a {
        display: block;
        padding: 8px 20px;
        color: #222; }
        .navbar-nav .nav-item .sub-menu li a.active, .navbar-nav .nav-item .sub-menu li a:hover {
          padding-left: 25px;
          color: #0898E7; }

.navbar-nav .sub-nav-toggler {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #222;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }
  @media (max-width: 767px) {
    .navbar-nav .sub-nav-toggler {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      color: #222;
      font-size: 18px;
      border: 0;
      width: 30px;
      height: 30px; } }
  .navbar-nav .sub-nav-toggler span {
    width: 8px;
    height: 8px;
    border-left: 1px solid #222;
    border-bottom: 1px solid #222;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -5px; }

/*===== HEADER HERO =====*/
.header-hero {
  position: relative;
  z-index: 5;
  background-position: bottom center;
  height: 800px; }
  @media only screen and (min-width: 1400px) {
    .header-hero {
      height: 900px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-hero {
      height: auto; } }
  @media (max-width: 767px) {
    .header-hero {
      height: auto; } }
  .header-hero .shape {
    position: absolute; }
    .header-hero .shape.shape-1 {
      width: 75px;
      height: 75px;
      background: -webkit-linear-gradient(rgba(254, 132, 100, 0.5) 0%, rgba(254, 110, 154, 0.5) 100%);
      background: -o-linear-gradient(rgba(254, 132, 100, 0.5) 0%, rgba(254, 110, 154, 0.5) 100%);
      background: linear-gradient(rgba(254, 132, 100, 0.5) 0%, rgba(254, 110, 154, 0.5) 100%);
      border-radius: 50%;
      left: 130px;
      top: 25%;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
    .header-hero .shape.shape-2 {
      width: 39px;
      height: 39px;
      background: -webkit-linear-gradient(rgba(51, 200, 193, 0.5) 0%, rgba(17, 155, 210, 0.5) 100%);
      background: -o-linear-gradient(rgba(51, 200, 193, 0.5) 0%, rgba(17, 155, 210, 0.5) 100%);
      background: linear-gradient(rgba(51, 200, 193, 0.5) 0%, rgba(17, 155, 210, 0.5) 100%);
      left: 150px;
      bottom: 40px;
      border-radius: 50%;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
    .header-hero .shape.shape-3 {
      width: 19px;
      height: 19px;
      background: -webkit-linear-gradient(rgba(54, 28, 193, 0.5) 0%, rgba(46, 130, 239, 0.5) 100%);
      background: -o-linear-gradient(rgba(54, 28, 193, 0.5) 0%, rgba(46, 130, 239, 0.5) 100%);
      background: linear-gradient(rgba(54, 28, 193, 0.5) 0%, rgba(46, 130, 239, 0.5) 100%);
      bottom: 25%;
      left: 26%;
      border-radius: 50%;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
    .header-hero .shape.shape-4 {
      background-color: rgba(226, 158, 25, 0.55);
      width: 39px;
      height: 39px;
      border-radius: 50%;
      top: 175px;
      left: 40%;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
    .header-hero .shape.shape-5 {
      width: 19px;
      height: 19px;
      background-color: rgba(108, 99, 255, 0.55);
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 20%;
      border-radius: 50%;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
    .header-hero .shape.shape-6 {
      width: 14px;
      height: 14px;
      background-color: rgba(235, 163, 26, 0.55);
      border-radius: 50%;
      left: 45%;
      bottom: 70px;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }

.header-shape-1 {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  right: 0;
  z-index: -1;
  background-image: url(../images/header-shape-1.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-shape-1 {
      width: 100%; } }

.header-shape-2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-shape-2 img {
      width: 295px; } }

.header-hero-content {
  position: relative;
  z-index: 9; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-hero-content {
      padding-top: 150px; } }
  @media (max-width: 767px) {
    .header-hero-content {
      padding-top: 120px; } }
  .header-hero-content .header-title {
    font-size: 42px;
    color: #38424D; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .header-hero-content .header-title {
        font-size: 36px; } }
    @media (max-width: 767px) {
      .header-hero-content .header-title {
        font-size: 22px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .header-hero-content .header-title {
        font-size: 38px; } }
    .header-hero-content .header-title span {
      display: contents;
      color: #0898E7; }
  .header-hero-content .text {
    margin-top: 30px; }
  .header-hero-content ul {
    margin-top: 30px; }
    .header-hero-content ul li {
      margin-left: 50px; }
      .header-hero-content ul li:first-child {
        margin-left: 0; }
  .header-hero-content .main-btn {
    margin-top: 10px; }
  .header-hero-content .header-video {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    background-color: #0898E7;
    position: relative;
    z-index: 5; }
    .header-hero-content .header-video::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(8, 152, 231, 0.8);
      top: 0;
      left: 0;
      -webkit-animation: video 2s linear infinite;
      -moz-animation: video 2s linear infinite;
      -o-animation: video 2s linear infinite;
      animation: video 2s linear infinite;
      z-index: -1; }

@keyframes video {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0; } }

@-webkit-keyframes video {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0; } }

.header-image {
  padding-top: 80px;
  position: relative;
  z-index: 5; }
  .header-image .image {
    width: 100%; }
  .header-image .image-shape {
    position: absolute;
    bottom: -100px;
    left: -115px;
    z-index: -1; }
    @media (max-width: 767px) {
      .header-image .image-shape {
        left: -90px; } }
    .header-image .image-shape img {
      max-width: 350px; }
      @media (max-width: 767px) {
        .header-image .image-shape img {
          max-width: 250px; } }

/*===========================
      03.SERVICES css 
===========================*/
.single-services {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.16);
  -moz-box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.16);
  box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 45px 25px 35px; }
  @media (max-width: 767px) {
    .single-services {
      padding: 40px 20px 30px; } }
  .single-services .services-icon {
    width: 79px;
    height: 79px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    text-align: center; }
    .single-services .services-icon i {
      font-size: 46px;
      line-height: 79px;
      color: #fff; }
    .single-services .services-icon::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      border-radius: 50%;
      z-index: -1; }
  .single-services .services-content {
    margin-top: 35px; }
    .single-services .services-content .services-title a {
      font-size: 25px;
      font-weight: 500;
      color: #222;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      @media (max-width: 767px) {
        .single-services .services-content .services-title a {
          font-size: 20px; } }
    .single-services .services-content .text {
      margin-top: 30px; }
  .single-services.services-color-1 .services-icon {
    background-color: #E7A019; }
    .single-services.services-color-1 .services-icon::before {
      background-color: rgba(231, 160, 25, 0.2); }
  .single-services.services-color-1 .services-content .services-title a:hover {
    color: #E7A019; }
  .single-services.services-color-2 .services-icon {
    background-color: #E54F4F; }
    .single-services.services-color-2 .services-icon::before {
      background-color: rgba(229, 79, 79, 0.2); }
  .single-services.services-color-2 .services-content .services-title a:hover {
    color: #E54F4F; }
  .single-services.services-color-3 .services-icon {
    background-color: #8950E4; }
    .single-services.services-color-3 .services-icon::before {
      background-color: rgba(137, 80, 228, 0.2); }
  .single-services.services-color-3 .services-content .services-title a:hover {
    color: #8950E4; }
  .single-services.services-color-4 .services-icon {
    background-color: #0898E7; }
    .single-services.services-color-4 .services-icon::before {
      background-color: rgba(8, 152, 231, 0.2); }
  .single-services.services-color-4 .services-content .services-title a:hover {
    color: #0898E7; }
  .single-services:hover {
    -webkit-box-shadow: 0px 15px 17px 0px rgba(154, 154, 154, 0.16);
    -moz-box-shadow: 0px 15px 17px 0px rgba(154, 154, 154, 0.16);
    box-shadow: 0px 15px 17px 0px rgba(154, 154, 154, 0.16); }

/*===========================
       04.ABOUT css 
===========================*/
.about-area {
  background-color: #F3FDFF; }

.about-image {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 767px) {
    .about-image {
      margin-left: 0;
      padding-top: 65px;
      padding-bottom: 45px; } }
  .about-image .about-shape {
    background: -webkit-linear-gradient(#61009d 0%, #cb107a 100%);
    background: -o-linear-gradient(#61009d 0%, #cb107a 100%);
    background: linear-gradient(#61009d 0%, #cb107a 100%);
    width: 394px;
    height: 394px;
    border-radius: 50%;
    position: relative; }
    @media (max-width: 767px) {
      .about-image .about-shape {
        width: 294px;
        height: 294px; } }
    .about-image .about-shape::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      -webkit-transform: scale(1.1) rotate(25deg);
      -moz-transform: scale(1.1) rotate(25deg);
      -ms-transform: scale(1.1) rotate(25deg);
      -o-transform: scale(1.1) rotate(25deg);
      transform: scale(1.1) rotate(25deg);
      border-radius: 50%;
      border: 2px solid #61009D;
      border-top-color: transparent;
      border-right-color: transparent; }
  .about-image .app {
    position: relative;
    -webkit-transform: rotate(-25deg) translateY(-15%);
    -moz-transform: rotate(-25deg) translateY(-15%);
    -ms-transform: rotate(-25deg) translateY(-15%);
    -o-transform: rotate(-25deg) translateY(-15%);
    transform: rotate(-25deg) translateY(-15%);
    max-width: 280px;
    position: absolute;
    top: 100px;
    left: 95px;
    -webkit-box-shadow: -15px 10px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -15px 10px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -15px 10px 30px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50px; }
    @media (max-width: 767px) {
      .about-image .app {
        max-width: 190px;
        border-radius: 25px;
        top: 60px; } }

.about-content .main-btn {
  margin-top: 40px; }


/*===========================
     10.DOWNLOAD css 
===========================*/
.download-area .download-image {
  padding-top: 65px;
  padding-left: 60px;
  padding-bottom: 60px;
  position: relative; }
  @media (max-width: 767px) {
    .download-area .download-image {
      padding-left: 20px;
      padding-right: 20px; } }
  .download-area .download-image .image {
    -webkit-box-shadow: 0px 3px 25px 0px rgba(8, 153, 231, 0.2);
    -moz-box-shadow: 0px 3px 25px 0px rgba(8, 153, 231, 0.2);
    box-shadow: 0px 3px 25px 0px rgba(8, 153, 231, 0.2);
    border-radius: 50px;
    max-width: 295px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .download-area .download-image .image {
        max-width: 100%; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .download-area .download-image .image {
        max-width: 295px; } }
  .download-area .download-image .download-shape-1 {
    width: 185px;
    height: 185px;
    background-color: #FEB21C;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .download-area .download-image .download-shape-2 {
    position: absolute;
    bottom: -50px;
    right: 40px;
    z-index: -1; }

.download-content .download-title {
  font-size: 34px;
  font-weight: 600; }
  @media (max-width: 767px) {
    .download-content .download-title {
      font-size: 22px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .download-content .download-title {
      font-size: 28px; } }

.download-content .text {
  margin-top: 35px; }

.download-content ul {
  padding-top: 35px; }
  .download-content ul li {
    display: inline-block;
    margin-top: 15px; }
    .download-content ul li a {
      width: 210px;
      height: 65px;
      border-radius: 5px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      .download-content ul li a.app-store {
        background-color: #0898E7;
        -webkit-box-shadow: 0px 4px 10px 0px rgba(8, 152, 231, 0.4);
        -moz-box-shadow: 0px 4px 10px 0px rgba(8, 152, 231, 0.4);
        box-shadow: 0px 4px 10px 0px rgba(8, 152, 231, 0.4);
        margin-right: 28px; }
        .download-content ul li a.app-store:hover {
          -webkit-box-shadow: 0px 4px 25px 0px rgba(8, 152, 231, 0.4);
          -moz-box-shadow: 0px 4px 25px 0px rgba(8, 152, 231, 0.4);
          box-shadow: 0px 4px 25px 0px rgba(8, 152, 231, 0.4); }
      .download-content ul li a.play-store {
        background-color: #525A63;
        -webkit-box-shadow: 0px 4px 10px 0px rgba(82, 90, 99, 0.4);
        -moz-box-shadow: 0px 4px 10px 0px rgba(82, 90, 99, 0.4);
        box-shadow: 0px 4px 10px 0px rgba(82, 90, 99, 0.4); }
        .download-content ul li a.play-store:hover {
          -webkit-box-shadow: 0px 4px 25px 0px rgba(82, 90, 99, 0.4);
          -moz-box-shadow: 0px 4px 25px 0px rgba(82, 90, 99, 0.4);
          box-shadow: 0px 4px 25px 0px rgba(82, 90, 99, 0.4); }

/*===========================
     10.FOOTER css 
===========================*/
.footer-area {
  position: relative;
  z-index: 5; }
  .footer-area .footer-shape {
    position: absolute; }
    .footer-area .footer-shape.shape-1 {
      background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
      background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
      background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
      width: 75px;
      height: 75px;
      border-radius: 50%;
      left: 70px;
      opacity: 0.55;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
      @media (max-width: 767px) {
        .footer-area .footer-shape.shape-1 {
          left: auto;
          right: 40px;
          top: 25%; } }
    .footer-area .footer-shape.shape-2 {
      background: -webkit-linear-gradient(#33c8c1 0%, #119bd2 100%);
      background: -o-linear-gradient(#33c8c1 0%, #119bd2 100%);
      background: linear-gradient(#33c8c1 0%, #119bd2 100%);
      width: 39px;
      height: 39px;
      border-radius: 50%;
      bottom: 40px;
      left: 15%;
      opacity: 0.55;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .footer-area .footer-shape.shape-2 {
          bottom: 85px; } }
      @media (max-width: 767px) {
        .footer-area .footer-shape.shape-2 {
          bottom: 110px; } }
    .footer-area .footer-shape.shape-3 {
      background: -webkit-linear-gradient(#361cc1 0%, #2e82ef 100%);
      background: -o-linear-gradient(#361cc1 0%, #2e82ef 100%);
      background: linear-gradient(#361cc1 0%, #2e82ef 100%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      left: 35%;
      top: 40px;
      opacity: 0.55;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .footer-area .footer-shape.shape-3 {
          top: 40%; } }
    .footer-area .footer-shape.shape-4 {
      background-color: #EBA31A;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      left: 50%;
      bottom: 5px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 0.55;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
    .footer-area .footer-shape.shape-5 {
      background-color: #E29E19;
      right: 37%;
      top: 0;
      width: 39px;
      height: 39px;
      border-radius: 50%;
      opacity: 0.55;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
    .footer-area .footer-shape.shape-6 {
      background-color: #B60D81;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      top: 125px;
      right: 15%;
      opacity: 0.55;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
    .footer-area .footer-shape.shape-7 {
      background-color: #6C63FF;
      width: 64px;
      height: 64px;
      bottom: 25px;
      right: 8%;
      opacity: 0.55;
      border-radius: 50%;
      -webkit-animation: animation1 2s linear infinite;
      -moz-animation: animation1 2s linear infinite;
      -o-animation: animation1 2s linear infinite;
      animation: animation1 2s linear infinite; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .footer-area .footer-shape.shape-7 {
          bottom: 20%; } }
      @media (max-width: 767px) {
        .footer-area .footer-shape.shape-7 {
          bottom: 38%; } }
    .footer-area .footer-shape.shape-8 {
      top: 30px;
      right: -45px; }
  .footer-area .logo {
    max-width: 200px; }

.footer-about {
  max-width: 320px; }
  .footer-about .text {
    margin-top: 30px; }
  .footer-about .social {
    margin-top: 30px; }
    .footer-about .social li {
      display: inline-block;
      margin-right: 25px; }
      .footer-about .social li a {
        font-size: 20px;
        color: #747E88;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s; }
        .footer-about .social li a:hover {
          color: #0898E7; }

.footer-title .title {
  font-size: 20px;
  font-weight: 500; }

.footer-link .link {
  padding-top: 10px; }
  .footer-link .link li {
    margin-top: 10px; }
    .footer-link .link li a {
      color: #747E88;
      font-size: 18px;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      .footer-link .link li a:hover {
        color: #0898E7; }

.footer-link-wrapper {
  width: 50%; }

.footer-contact .contact-list li {
  margin-top: 20px; }
  .footer-contact .contact-list li .contact-info .info-info {
    width: 30px; }
  .footer-contact .contact-list li .contact-info .info-content .text {
    color: #747E88;
    font-size: 16px; }
    .footer-contact .contact-list li .contact-info .info-content .text a {
      color: #747E88;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      .footer-contact .contact-list li .contact-info .info-content .text a:hover {
        color: #0898E7; }

.footer-copyright .copyright {
  border-top: 2px solid #747E88;
  padding-top: 10px;
  padding-bottom: 25px; }
  .footer-copyright .copyright .copyright-text {
    padding-top: 15px; }
    .footer-copyright .copyright .copyright-text .text {
      color: #747E88; }
  .footer-copyright .copyright .copyright-privacy {
    padding-top: 15px; }
    .footer-copyright .copyright .copyright-privacy a {
      font-size: 16px;
      color: #747E88;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s; }
      .footer-copyright .copyright .copyright-privacy a:hover {
        color: #0898E7; }

/*===== BACK TO TOP =====*/
.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: #0898E7;
  background-size: 200%;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none; }
  .back-to-top:hover {
    background-color: rgba(8, 152, 231, 0.5);
    color: #fff; }
